
:root {
    --highlight-color: #FFFEEF;
    --lowlight-color: #041022;
    --nav-height: 106px
}

html, body {
    background-color: var(--lowlight-color);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

@font-face {
    font-family: 'relationship of melodrame';
    src: url('/Assets/Fonts/relationshipofmelodrame-regul.woff2') format('woff2'),
        url('/Assets/Fonts/relationshipofmelodrame-regul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'poppins', sans-serif;
}

h2, h4, u {
    letter-spacing: 1px;
    font-family: "Instrument Serif";
    font-style: italic;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 6px;
    text-decoration-skip-ink: all;
}

a {
    color: var(--lowlight-color);
}

h2 {
    letter-spacing: 3px;
}

nav {
    background-color: var(--lowlight-color);
    position: sticky;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(var(--nav-height) - 20px * 2);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 1.5px solid var(--highlight-color);
    margin: 20px;
    z-index: 1;

    
    /* Glassmorphism */
    background: #041022b7;
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
}

nav .links li {
    position: relative;
}
nav .links li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--highlight-color);
    transition: transform 0.25s ease-out;
}

nav .links li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

nav .links li::after {
    transform-origin: bottom left;
}


nav #homeLink {
    display: none;
}

nav a {
    font-family: 'poppins', sans-serif;
    width: 120px;
    text-align: center;
    color: var(--highlight-color);
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

nav a:hover {
    text-shadow: 0 0 20px var(--highlight-color);
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .links {
    margin: 0;
    padding: 0;
    display: flex;
    width: 29%;
    max-width: 330px;
    align-items: center;
    justify-content: space-between;
}

nav .selected {
    text-decoration: underline;
    text-shadow: 0px 0px 10px var(--highlight-color);
}

nav .links li {
    list-style: none;
    transition: opacity 0.2s ease-in-out;
}

nav .contact {
    display: flex;
    align-items: center;
}

nav .links #contact {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav .logo {
        width: 210px;
    }

    nav #homeLink {
        display: block;
    }

    nav .contact {
        display: none;
    }
    nav .links #contact {
        display: block;
    }

    nav .links {
        max-width: none;
        margin-left: -22px;
        margin-top: -24px;
        overflow: hidden;
        z-index: 2;
        box-shadow: 8px 0px 15px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(22px);
        -webkit-backdrop-filter: blur(22px);
        justify-content: flex-start;
        padding-left: 0px;
        padding-top: 70px;
        position: fixed;
        left: 0px;
        height: 133vh;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 101vw;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
    }
    nav .nav-links ul {
        width: 100%;
        margin-left: -20px;
    }
    nav .nav-links li a{
        font-weight: 100;
        font-size: 1.3rem;
        line-height: 50px;
    }
    nav .burger {
        width: 80px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        z-index: 3;
    }
}

.burger {
    z-index: 10;
    position: relative;
    display: none;
    cursor: pointer;
}

.burger div {
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--highlight-color);
    transition: all 0.3s ease;
}

nav .nav-active {
    background: var(--lowlight-color);
    transform: translateX(0%);
}

.nav-active li {
    opacity: 1;
}

.toggle .line1 {
    transform: translateY(12px) rotate(-45deg) ;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: translateY(-10px) rotate(45deg)
}

.hero {
    padding-top: var(--nav-height);
    padding: 2em 3em;
    background-color: var(--lowlight-color);
    color: var(--highlight-color);
    text-align: center;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    display: flex;
    margin-block: 0px;
    font-weight: 500;
    font-size: min(19vw, 150px);
}

.hero h2 {
    font-size: min(11vw, 60px);
    font-weight: 300;
    width: 90vw;
    line-height: 1em;
}

.star {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small.star img {
    width: 20px;
}

nav .star img {
    width: 40px;
}

nav .star {
    width: 90px;
    margin-left: 0;
}

.star img {
    height: min(15vw, 130px);
}

.glow img {
    filter: drop-shadow(0px 0px 30px var(--highlight-color));
    animation: pulse-glow 5s infinite;
}

@keyframes pulse-glow {
	0% {
		filter: drop-shadow(0 0 30px var(--highlight-color));
	}
	
	50% {
		filter: drop-shadow(0 0 70px var(--highlight-color));
	}
	
	100% {
		filter: drop-shadow(0 0 30px var(--highlight-color));
	}
}

.bone {
    background-color: var(--highlight-color);
}

.detail {
    padding: 3em 4em;
    padding-bottom: 0;
    display: flex;
}

.detail p {
    font-weight: 500;
}

.detail .features p {
    margin-block: 0px;
}

.fancyArrowButton {
    background-color: var(--lowlight-color);
    border: 1.5px solid var(--lowlight-color);
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    font-weight: 600;
    padding: 1em 1.6em 1em 1.7em;
}

.fancyArrowButton.inverted {
    background-color: var(--highlight-color);
    border: 1.5px solid var(--highlight-color);
}

.fancyArrowButton img {
    width: 30px;
    height: 12px;
    fill: #09182E;
    mix-blend-mode: difference;
}

.fancyArrowButton.inverted img {
    fill: var(--highlight-color);
}


.fancyArrowButton span {
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
    text-wrap: nowrap;
    color: var(--highlight-color);
}

.fancyArrowButton.inverted span {
    color: white;
}

.fancyArrowButton::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--highlight-color);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.fancyArrowButton.inverted::before {
    background: var(--lowlight-color);
}


.fancyArrowButton:hover::before {
    transform: translate3d(100%, 0, 0);
}

.fancyArrowButton:hover {
    cursor: pointer;
}

.whatWeBring h3 {
    font-weight: 500;
    font-size: 1.7rem;
    margin-block: 10px 0px;
}

.features {
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature {
    margin-left: 20px;
}

.feature h4 {
    font-weight: 200;
    font-size: 2em;
    margin: 0;
    margin-top: 0.4em;
}

.autoScroll {
    display: flex;
    align-items: center;
    height: 250px;
    position: relative;
    overflow: hidden;
    width: 100%; /* Adjust the width as needed */
}

.autoScroll h2 {
    margin-left: 0.3em;
    font-size: 8rem;
    font-weight: 200;
    display: inline-block;
    color: #09182E;
}

.marquee {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 110s linear infinite;
}

.marquee1 span {
    animation-delay: -55s;
}

.marquee2 span {
    animation-delay: 0s; /* Half of the animation duration */
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* Custom cursor styling */
#customCursor {
    text-align: center;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 38px; /* Adjust size as needed */
    height: 38px;
    background-color: var(--highlight-color);
    border: 2px solid var(--lowlight-color);
    border-radius: 25px;
    background-size: contain;
    pointer-events: none; /* Allow clicks to pass through */
    transform: translate(-50%, -50%); /* Center the image on the cursor */
    display: none; /* Hide by default */
    z-index: 1000; /* Ensure it appears above other elements */
}

#customCursor img {
    width: 30px;
    height: 12px;
}
  /* Show custom cursor when hovering over the autoscroll */
  .autoScroll:hover + #customCursor {
    display: block;
  }

footer {
    background-color: var(--lowlight-color);
    color: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1em 3em
}

footer a {
    font-family: 'poppins';
    color: var(--highlight-color);
    text-decoration: none;
}

footer .star img {
    height: 30px;
}

.socials {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.socialImages{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
}

@media only screen and (max-width: 937px) {
    footer .socials {
        width: 60%;
    }
}

@media only screen and (max-width: 695px) {
    footer .socials p {
        display: none;
    }

    footer .socials .socialImages {
        width: 70px;
    }
}

@media only screen and (max-width: 1100px) {
    
    .detail {
        flex-direction: column;
    }

    .features {
        margin-top: 40px;
        margin-left: 0;
    }

    .feature:nth-child(odd) {
        margin-left: 0;
    }
}

@media only screen and (max-width: 571px) {
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature {
        margin-left: 0;
    }

    .feature h4 {
        margin-top: 1em;
    }
}