.page {
    background-color: var(--lowlight-color);
    padding: 3em 6.13em;
}

* {
    color: var(--highlight-color)
}

.page h1 {
    margin: 0;
    font-size: 11rem;
    font-weight: 500;
    font-family: "Instrument Serif";
    font-style: italic;
}

.page .section button:not(.fancyArrowButton) {
    background-color: var(--lowlight-color);
    border: 1.5px solid var(--highlight-color);
    padding: 0.7em;
    border-radius: 20px;
    width: 200px;
}

.page .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
}

.page .section3 {
    align-items: center;
}

.section .fancyArrowButton {
    margin-top: 15px;
}

.profiles {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
}

.profiles .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
p b {
    font-size: 1.7rem;
    font-weight: 500;
}

p b {
    line-height: 1.4em;
}

p{
    line-height: 1.6em;
}

.profiles .img-mobile {
    display: none;
}



.section .textAndButton {
    color: var(--highlight-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 776px) {
    .page {
        padding-top: 1.2em;
        padding-bottom: 10px;
    }
    
    p {
        margin-top: 2em;
    }
    .profiles .img-desktop {
        display: none;
    }
    .profiles .img-mobile {
        display: block;
    }
    
    .page h1 {
        font-size: 5rem;
        margin-bottom: 0.2em;
    }
    .page {
        padding-inline: 3em;
        flex-direction: column;
    }

    .page .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        gap: 0;
    }

    .page .section1 {
        margin-bottom: 4em;
    }

    .profiles{
        flex-direction: column;
    }

    .profiles p {
        margin-top: 2em;
    }

    .profiles .section3 {
        flex-direction: column-reverse;
    }


    .page .section3 {
        margin-top: 0;
    }
 }
