.page {
    background-color: var(--lowlight-color);
    padding: 3em 5.6em;
}

* {
    color: var(--highlight-color)
}

.page h1 {
    margin: 0;
    font-size: 11rem;
    font-weight: 500;
    font-family: "Instrument Serif";
    font-style: italic;
}

.page .section button:not(.fancyArrowButton) {
    background-color: var(--lowlight-color);
    border: 1.5px solid var(--highlight-color);
    padding: 0.7em;
    border-radius: 20px;
    width: 200px;
}

.page .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    margin-bottom: 200px;
}

.page .section3 {
    align-items: center;
    margin-top: -40vw;
}

.section .textAndButton {
    color: var(--highlight-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 776px) {
    .page h1 {
        font-size: 5rem;
    }
    .page {
        flex-direction: column;
    }

    .page .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .page .section2 {
        flex-direction: column-reverse;
    }

    .page .section3 {
        margin-top: 0;
    }
 }
