.functionality {
    height: 100%;
    /* margin-top: calc(var(--nav-height) - 1px); */
    background-color: var(--lowlight-color);
    color: var(--highlight-color);
    font-family: 'poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.functionality>* {
    padding: 3em;
}

.functionality h2 {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    letter-spacing: normal;
}

.autoScroll.dark {
    height: 200px;
    background-color: var(--lowlight-color);
}

.autoScroll.dark .marquee span h2 {
    color: var(--highlight-color);
}

.Process-hero{
    padding: 2rem 5rem;
    background-color: var(--lowlight-color);
    color: var(--highlight-color);
    text-align: center;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Process-hero h1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 9.5em;
    font-weight: 500;
    font-family: 'relationship of melodrame';
}

.Process-hero #slider {
    background-color: var(--highlight-color);
    width: 2px;
    position: absolute;
    /* left: calc(50vw); */
    top: 300px;
    bottom: 0;
}

.Process-hero #slider .star {
    display: flex;
    align-items: center;
    justify-content: center;
    height:1em;
    width: 1em;
    font-size: 10rem;
    margin-left: -4.94rem;
    /* transition: transform 0.1s ease-in-out; */
    /* line-height: 25px; */
}

.Process-hero #slider .star.active {
    position: fixed;
    top: calc(50% - 160px/2);
}

.step {
    padding-inline: 100px;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    text-align: left;
    width: calc(100svw - 100px * 2 - 17px);
    justify-content: center;
    transition: all 0.2s ease-in-out;
    padding-bottom: 200px;
}

.stepPadding {
    width: 300px;
}

.step:not(.focus) {
    opacity: 0.25;
}

.step.focus {
    opacity: 1;
    /* text-shadow: 0px 0px 20px var(--highlight-color); */
}

.step:nth-child(even){
    flex-direction: row-reverse;
}

.step .stepDetails {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.step .stepDetails .stepTitle {
    width: min(100%, 450px);
}

.step:nth-child(even) .stepDetails {
    grid-column-start: 1;
    grid-row-start: 1;
    align-items: flex-end;
}

.step:nth-child(even) .stepNo {
    grid-column-start: 3;
}

.stepNo {
    font-size: 5rem;
    font-weight: 100;
    width: 100%;

}

.stepDetails p{
    
    max-width: 450px;
}

.step:nth-child(odd) .stepNo {
    text-align: right;
}


@media only screen and (max-width: 500px) {
    .Process-hero #slider {
        left: 18vw;
    }

    .step:nth-child(even){
        flex-direction: row;
    }

    .step:nth-child(odd) .stepNo {
        text-align: left;
    }

    .step:nth-child(even) .stepDetails {
        grid-column-start: 3;
        grid-row-start: 1;
        align-items: flex-end;
    }
    
    .step:nth-child(even) .stepNo {
        grid-column-start: 2;
    }
    .lighthouse {
        display: none;
    }
}